/*******
        Bootstrap override 
*/


.font-fatboy {
    font-family: 'FatboySlimBoy', Arial, Geneva, sans-serif;
}

.font-averia { 
    font-family: 'Averia', serif;
}

.font-padding {
    margin: 30px 0;
}

body {
    h1 {
        font-size: 2.75em;
        text-shadow: 3px 3px 0px #252726;

        position: relative;
        @extend .font-fatboy;
        text-align: center;

        span {
            font-size: 4em;
            position: relative;
            top: 33px;
            height: 100px;
            display: inline-block;
        }
    }

    h2 {
        color: #808285;
        font-size: 35px;
        text-shadow: 2px 2px 0px #252726;
        @extend .font-fatboy;
    }

    h3 {
        font-size: 35px;
        line-height: 1.2em;
        text-shadow: 3px 3px 0px #252726;
        text-align: center;
        @extend .font-fatboy;
    }

    h4 {
        @extend .font-fatboy;
    }

    a {
        text-decoration: none;

        @include transition-property(color);
        @include transition-duration(80ms);
        @include transition-timing-function(ease-in-out); 
    }
}


p.story, 
#story > p {
    letter-spacing: 2px;
}

#contact-form {

    form {
        margin-bottom: 0;
    }

    label {
        color: adjust-lightness(#444, 10);
    }

    textarea {
        height: 125px;
    }

    .lead {
        margin-bottom: 0;
        font-size: 24px;
        color: #444;
    }

    .modal-footer {
        background: #FFF;
        border: 0;
        padding-top: 0;
    }

    .btn-success {
        @extend .font-averia;
        @include letterpress(.75);
    }
}


//MEDIA QUERIES
@media (max-width: 979px) and (min-width: 768px) {
	body { padding: 0 !important; }
}

@media (max-width: 768px) {
	body { padding: 0 !important; }
	footer { display: none; }
}
