
@import "sprites/site/*.png";
$site-sprite-dimensions: true;


//MEDIA QUERIES
@media (max-width: 979px) and (min-width: 768px) {
	body { padding: 0 !important; }
}

@media (max-width: 768px) {
	body { padding: 0 !important; }
	footer { display: none; }
}


#wrapper {
    width: 100%;
    display: table;
}

#header {
    width: 100%;
    margin-top: 50px;
}



div#header {
    padding: 0 0;
    position: relative;
    width: 100%;
}

#main {
    position: relative;
    z-index: 0; }

#footer {

	&:hover {
		.events {
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			opacity: 1;
		}
	}

    .links {
    	margin-top: 3rem;
    	margin-bottom: 2rem;

    	a {
    		display: block;
    		color: #ccc;
			@include transition-property(color);
			@include transition-duration($trans);
			@include transition-timing-function(linear);

			&:hover {
				text-decoration: none;
			}
    	}

    	h4 {
    		font-family: $serifFontFamily;
    		color: $textColor;
    		font-size: 18px;
			line-height: 1.2em;
			padding-right: 8px;
    		padding-top: 0;
    		margin-bottom: 1.2rem;
    	}

    	.link {
    		display: block;
    		clear: both;
    		margin-bottom: .95rem;

    		i {
    			background: #313033;
    			width: 40px;
    			height: 40px;
    			@include border-radius(13px);
    			display: inline-block;
    			float: left;
    			margin-right: 12px;
    			position: relative;
    			overflow: hidden;
    			z-index: 5;

		

				span {
					@include transition-property(opacity);
					@include transition-duration($trans-slow);
					position: relative;
					opacity: 0.5;
					filter: alpha(opacity=0.5);
					display: block;
				}

			}


			a:hover i span {
				opacity: 1;
				filter: alpha(opacity=1);
			}

    		&.faceboook {
				i {
					@include transition-property(background);
					@include transition-duration($trans-slow);
				}

				span {
					@include site-sprite(ico-facebook);
					position: absolute;
					right: 7px;
					top: 5px;
				}

				a:hover {
					
					i {
						background: #3b5998; 

						span {
							opacity: 1;
							filter: alpha(opacity=1);
						}
					}
				}
			}

			&.bcferries {
				span {
					@include site-sprite(ico-bcferries);

				}

				i {
					margin-bottom: 10px;
				}

				em {
					font-size: 12px;
					font-style: normal;
					padding: 0 15px 0 0;
					display: block;

				}
			}

			&.cordova {
				span {
					@include site-sprite(ico-cordova);
				}
			}

			&.artbox {
				
				span {
					@include site-sprite(ico-artbox);
					left: -2px;
					top: -3px;
				}

				a:hover {
					span {
						opacity: 1;
						filter: alpha(opacity=1);
					}
				}
			}
    	}

    	.events {
    		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
			opacity: 0.8;

			@include transition-property(opacity);
			@include transition-duration($trans-fast);

    		ul {

    			li {
    				margin-bottom: 1rem;
    				padding-left: 0;

    				p {
    					text-shadow: #252726 1px 1px 0px;

    					strong {
    						font-weight: normal;
    						font-size: 18px;
    					}

    					span {
    						display: block;
    						font-size: 14px;
    					}
    				}
    			}
    		}
    	}

    }

    .section {
        margin-bottom: 0;
    }

    .legal-message p {
	    color: #7d7d7d;
	    font-size: 0.75em;
	    text-align: center;
	    text-shadow: 1px 1px 0 #111;
	    padding: 15px 0;
	}
}



.section {
    width: 960px;
    margin: 20px auto;
    position: relative;
    display: inline-block;
}

div.section {
    position: relative;
}

div.section-empty {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}

div#header div.section .nav {
    margin-top: 25px;
}

#contact-form {

    form {
        margin-bottom: 0;
    }

    label {
        color: adjust-lightness(#444, 10);
        display: block;

    }

    textarea {
        height: 125px;
    }

    .lead {
        margin-bottom: 0;
        font-size: 24px;
        line-height: 1.2em;
        color: #444;
    }

    .modal-footer {
        background: #FFF;
        border: 0;
        padding-top: 0;
    }

    .btn-success {
        // @extend .font-averia;
        @include letterpress(.75);
    }
}

.menu {
	font-family: $headingsFontFamily;
	font-size: 1.5rem;
	line-height: 1.3em;
	text-shadow: 3px 3px 0px #252726;
	text-align: center;
	margin: 45px 0;

	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	opacity: 0.4;
	@include transition(color .15s ease-in-out, opacity .5s ease-in-out);

	&.bold {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
		opacity: 0.8;
	}

	li {
		padding: 0;
		margin: 0;

		a {
			@include transition(padding .35s ease-in-out, color .65s ease-out);
			padding: 10px;
			@include border-radius(40px);
			margin: 0;

			&:hover { text-decoration: none; }

		}
	}

	&:hover {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
		opacity: 1;		
	}

	&.hori {

		li {
			@include inline-block;
		}

		a {
			
			&:hover {
				padding: 10px 25px;
				color: white;
			}
		}
	}

	&.vert {
		padding: 0 8px;

		text-align: left;
		list-style: none;
		padding: 0;
		margin: 0 auto 35px;
		width: 80%;

		li {
			margin: 5px 0;
			width: 100%;
			display: block;
			padding: 0;

			a {

				display: inline-block;
				width: auto;
				padding: 2px 0;

				&:hover {
					color: white;
					padding: 8px 0;

				}
			}
		}
	}

	&.enhance  {
		$enhance-nav-height: 83px;
		$enhance-nav-width: 158px;

		li {
			width: $enhance-nav-width;
			height: $enhance-nav-height;
			background: url('/images/nav/li-mid.png') no-repeat center;
			margin: 0;

			&:first-of-type {
				background: url('/images/nav/li-first.png') no-repeat center;
			}

			&:last-of-type {
				background: url('/images/nav/li-last.png') no-repeat center;
			}

			a  {

				@include transition-property(all);
				@include transition-duration(125ms);
				@include transition-timing-function(ease-in);
				@include inline-block;
				line-height: $enhance-nav-height;
				width: $enhance-nav-width;
				background: #76787a;

				color: #000;
				text-shadow: none;
				padding: 0;
				margin: 0;

				width: 134px;
				height: 51px;

				&:hover {
					padding: 0;
					color: #fff;
					text-shadow: #252726 2px 1px 0px;
					//background: $color-green;
				}

			}
		}
	}
}