@import "partials/base";

$about-color: $color-green;

.about {
	@include colorSet($color-green);


	footer {
		position: relative;
		height: 40px;
	}

	.elk {
		background: url('/images/elk.png') no-repeat center center;
		position: absolute;
		bottom: -12rem;
		left: -30rem;
		width: 927px;
		height: 989px;
		@include scale(.65);
	}

	.hr-line {
		height: 1px;
		width: 1000em;
		background: #89c23e;
		position: absolute;
		bottom: 0em;
		left: -70rem;
		z-index: -5;
	}

	.eyeball {
		margin-bottom: 20px;
	}

	.post {
		position: relative;


		> p {
			@extend .body-text;
			color: #ccc;
			margin-bottom: .7em;
			line-height: 1.4em;
			text-align: justify;
		}

		blockquote {
			float: right;
			font-size: 2em;
			padding: 1em .5em;
			line-height: 1em;
			color: $about-color;
			text-shadow: 1px 1px 0 #222;
			font-family: 'FatboySlimBoy';
			border-left: 0;
			@include rotate(4deg);
		}


	}
}
