$color-purple: #7B61AA
$color-indigo: $color-purple
$color-magenta: #f54897
$color-green: #8DC63F
$color-orange: #F7941E
$color-blue: #00aeef

$purple: $color-purple
$magenta: $color-magenta
$green: $color-green
$orange: $color-orange
$blue: $color-blue

$serifFontFamily: "Averia Serif Libre", cursive
$sansSerifFontFamily: Arvo
$headingsFontFamily: FatboySlimBoy, "Helvetica Neue", Helvetica, Arial, sans-serif

//------------------------------------------------------------------------------
// Font Weights
//------------------------------------------------------------------------------
$font-weight_light: 300
$font-weight_normal: 400
$font-weight_bold: 600
$font-weight_heavy: 700

//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------
$primary_color: #3c4a5e
$secondary_color: #ebedf0
$tertiary_color: #78889f

$border-color: #C8CCD4

$red: #ff5842
$cyan: #185b71
$light-gray: #f0f7f9
$black: #363636
$blue: #8095ff

$fading: cubic-bezier(0.3, 0.4, 0.4, 0.1)
$bounce: cubic-bezier(.225, .5, .165, 1)

//------------------------------------------------------------------------------
// Placeholders
//------------------------------------------------------------------------------
%primary_font
  font-family: "Averia Serif Libre", "Times New Roman", serif
  // font-weight: 300
  line-height: 1em

%secondary_font
  font-family: fatboy_slim_bltc_2_brkregular, sans-serif
  font-weight: 400
  line-height: 1em

%post-heading
  color: $primary_color
  font-weight: $font-weight_heavy
  line-height: 1.2em
  font-size: 4.125em
  text-align: center
